/* -------------------------

		Type

------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-weight: 300;
    line-height: 1.4;

    font-size: 1.6rem;
}


/* Headings */





    