/* -------------------------

	 Page Layout

------------------------- */

$h-padd: 40px;
$v-padd: 40px;

$h-padd-mobile: 20px;
$v-padd-mobile: 30px;

.page-header,
.page-body {
	padding: $v-padd $h-padd;

	@include screen(small) {
		padding: $v-padd-mobile $h-padd-mobile;
	}
}


.page-header {
	background: #fff;
	display: block;
	width: 100%;

	.toggle-nav {
		display: none;
		@include screen(small) {
			display: inline-block;
		}
	}
}

.toggle-nav {
	font-size: 2.4rem;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.toggle-nav:focus {
	color: $theme;
	outline: none;
}

.page-title {
	font-size: 2.8rem;
	margin-bottom: 10px;
}
.page-subtitle {
	font-size: 1.8rem;
	font-style: italic;
}




/* Body */

.page-body {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	
	
}


.col-1 {
	width: 100%;
}

.col-2 {
	width: 48%;
}

.col-4-1 {
	width: 24%
}

.col-4-3 {
	width: 74%;
}

.page-section {
	background: #fff;
	border-radius: 5px;
	border: 1px solid $grey-2;
	margin-bottom: 30px;
	
	@include screen(small) {
		width: 100%;
	}
}



.section-title,
.section-body {
	padding: 20px;
}

.section-title {
	border-bottom: 1px solid $grey-2;
	font-weight: 600;
}




/* Charts */

.chart {
	// /width: 100%;
}



/* Tables */

table {
	width: 100%;

	thead {
		background: $theme;
		text-align: left;
		font-weight: 600;
		color: #fff;
	}

	td, th {
		padding: 10px;
	}

	tbody tr:nth-child(odd) {
		background: $grey-1;
	}
}




/* Issues */

.open-issues {
	.open {
		font-size: 10rem;
	    line-height: 9rem;
	    font-weight: 400;
	    color: $danger-dark;
	}
	.total {
		font-size: 2rem;
	}
}





/* Data Dashboard */

.issues-table {
	thead tr {
		border-left: 5px solid $theme;
	}
	tr.closed {
		border-left: 5px solid $success-dark;
	}
	tr.open {
		border-left: 5px solid $danger-dark;

		td.closed-timestamp {
			font-weight: 600;
		}
	}

	tr {
		font-size: 1.4rem;
	}

	@media screen and (max-width: 900px) {
		th.description,
		td.description {
			display: none;
		}
	}

	@media screen and (max-width: 500px) {
		th.submission-timestamp,
		td.submission-timestamp {
			display: none;
		}
	}
}

.filter-table-form {
	margin-bottom: 30px;
	display: block;
	width: 100%;

	label {
		width: 24%;

		@media screen and (max-width: 900px) {
			width: 49%;
		}
	}

	fieldset {
		width: 100%;
		margin-top: 0;
	}

	.fieldset-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
	}
}


