<header class="page-header">
	<h2 class="page-title">
		<button class="toggle-nav" aria-label="Toggle Navigation" ng-click="dashboard.toggleNav()">
			<i class="fa fa-bars"></i>
		</button>
		Geospatial View
	</h2>
	<p class="page-subtitle">Employees at company locations</p>
</header>

<div class="page-body">
	<!-- <section class="page-section col-2">
		<h3 class="section-title">Locations</h3>
		<div class="section-body">
			<table>
				<thead>
					<tr>
						<th>Location</th>
						<th>No. of Employees</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="value in dashboard.employees">
						<td>{{value.location}}</td>
						<td>{{value.employees}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section> -->


	<section class="page-section col-1">
		<h3 class="section-title">Employees by Location</h3>
		<div class="section-body">
			<p>Content Here</p>
			<ui-gmap-google-map
		            center="dashboard.map.center"
		            zoom="dashboard.map.zoom"
		            control="dashboard.map.control">
		    </ui-gmap-google-map>
		    <div>
		        <p>center: {{dashboard.map.center}}</p>
		        <p>zoom: {{dashboard.map.zoom}}</p>
    		</div>
		</div>
	</section>
</div>

