<header class="page-header">
	<h2 class="page-title">
		<button class="toggle-nav" aria-label="Toggle Navigation" ng-click="dashboard.toggleNav()">
			<i class="fa fa-bars"></i>
		</button>
		Key Metrics View
	</h2>
	<p class="page-subtitle">Key company metrics</p>
</header>

<div class="page-body">
	<section class="page-section col-1">
		<h3 class="section-title">Customers (Last 12 weeks)</h3>
		<div class="section-body">

			<canvas id="customers" class="chart chart-line" 
					width="700" height="250"
			  		chart-data="dashboard.customersChart.data" 
			  		chart-labels="dashboard.customersChart.labels" 
			  		chart-series="dashboard.customersChart.series"
			  		chart-options="dashboard.customersChart.options"> 
			</canvas>
		</div>
	</section>

	<section class="page-section col-4-1">
		<h3 class="section-title">Open Issues</h3>
		<div class="section-body">
			<p class="open-issues">
				<span class="open">{{dashboard.openIssues}}</span>
				<span class="total">/ {{dashboard.totalIssues}}</span><br>
				Issues are still open
			</p>
		</div>
	</section>

	

	<section class="page-section col-4-3">
		<h3 class="section-title">Issues (Last 7 months)</h3>
		<div class="section-body">
			<canvas id="issues" class="chart chart-bar" 
					width="700" height="250"
			  		chart-data="dashboard.issuesChart.data" 
			  		chart-labels="dashboard.issuesChart.labels" 
			  		chart-series="dashboard.issuesChart.series"
			  		chart-options="dashboard.issuesChart.options"> 
			</canvas>
		</div>
	</section>
</div>